.wrapper{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header{
    text-align: center;
}
.photo-section1{
    background-color: rgba(211, 211, 211, 0.637);
}
.post{
    background-color: white;
    width: 50%;
    margin: 12px auto;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
   }
img{
  width: 100%
}
.numbers{
 float: right;
margin-top: 18px;
}
p{
    display: inline-block;
}
body{
    background-color: gray;
}
