.wrapper{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header{
    text-align: center;
}
.photo-section1{
    background-color: rgba(211, 211, 211, 0.637);
}
.post{
    background-color: white;
    width: 50%;
    margin: 12px auto;;
   }
img{
    width: 100%;
}
.numbers{
 float: right;
}